<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Player | AniPub </title>
    <style>
        iframe {
            border: 0;
        }
        body {
            overflow-x: hidden;
            overflow-y: hidden;
        }
    </style>
</head>
<body style="background-color: black; height: 98vh; width: 100%; padding: 0; margin: 0;">
    <iframe src=<%=alu%> referrerpolicy="no-referrer"  gyroscope picture-in-picture autoplay scrolling="no" frameborder="1" marginheight="0px" marginwidth="0px" allowfullscreen geolocation style="height:100%;width: 100%;"></iframe>
<script>

window.addEventListener('beforeunload', (e) => {
  e.preventDefault();
  e.returnValue = '';
});

window.addEventListener("message", function (event) {
  if (!event.origin.includes("anipub.xyz")) return;

  let data = event.data;
  if (typeof data === "string") {
    try { data = JSON.parse(data); } catch(e) { return; }
  }

  if (data.event === "complete") {
    console.log("Episode finished!");
    // auto next episode here
  }
});
</script>
</body>
</html>
